<ol class="breadcrumb" >
  <li ng-repeat="nav in navigation">{{nav.title}}</li>
</ol>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-md-12">
                <div class="row">
                  <label>活动</label>&nbsp;&nbsp;
                  <select class="form-control" ng-model="searchform.active_id" 
                    ng-options="half.id as half.title for half in halfarr"
                  >
                    <option value=""> --全部-- </option>
                  </select>
                  &nbsp;&nbsp;&nbsp;&nbsp;

                  <label>使用时间</label>&nbsp;&nbsp;
                  <div class="input-group">
                  <input type="text" class="form-control" 
                          datepicker-popup="{{format}}" 
                          ng-model="dt1"
                          datepicker-popup="yyyy-mm-dd"
                          is-open="status1.opened" 
                          min-date="minDate" 
                          max-date="maxDate" 
                          datepicker-options="dateOptions" 
                          date-disabled="disabled(date, mode)" 
                          ng-required="true" 
                          close-text="Close" 
                          placeholder="请输入开始时间" readonly/>
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open1($event)">
                          <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                  </span>
                  </div>
                        &nbsp;&nbsp;~&nbsp;&nbsp;            
                  <div class="input-group">
                  <input type="text" class="form-control" 
                          datepicker-popup="{{format}}" 
                          ng-model="dt2"
                          datepicker-popup="yyyy-mm-dd"
                          is-open="status2.opened" 
                          min-date="minDate" 
                          max-date="maxDate" 
                          datepicker-options="dateOptions" 
                          date-disabled="disabled(date, mode)" 
                          ng-required="true" 
                          close-text="Close" 
                          placeholder="请输入结束时间" readonly/>
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open2($event)">
                          <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                  </span>
                  </div> 
                  &nbsp;&nbsp;
                </div>

                <div class="row mt10">
                  <label>姓名</label>&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.name" >
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <label>电话</label>&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.mobile" >
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <label>身份证</label>&nbsp;&nbsp;
                  <input type="text" class="form-control" ng-model="searchform.cardno" >
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-default" ng-click="load()">立即搜索</button>
                </div>
                
            </div>
        </div>
    </div>
</div><!-- searchArea -->


<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-md-2 text-center">使用时间</th>
      <th class="text-center">半价产品名称</th>
      <th class="text-center">旅行社名称</th>
      <th class="col-md-1 text-center">游客姓名</th>
      <th class="col-md-1 text-center">电话</th>
      <th class="col-md-1 text-center">身份证</th>
      <th class="col-md-1 text-center">立减</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="obj in objs">
      <td class="text-center">{{obj.used_time}}</td>
      <td class="text-center">{{obj.ticket_name}}</td>
      <td class="text-center">{{obj.ta_name}}</td>
      <td class="text-center">{{obj.name}}</td>
      <td class="text-center">{{obj.mobile}}</td>
      <td class="text-center">{{obj.cardno}}</td>
      <td class="text-center">{{obj.rebate}}</td>
    </tr>
  </tbody>
</table>


<div class="text-right">
    <pagination items-per-page="itemsPerPage" 
                total-items="bigTotalItems" 
                ng-model="bigCurrentPage" 
                max-size="maxSize" 
                class="pagination-sm" 
                boundary-links="true" 
                rotate="false" 
                num-pages="numPages" 
                previous-text="上一页"
                next-text="下一页"
                first-text="首页"
                last-text="末页"
                ng-change="load()"></pagination>
</div>