<ol class="breadcrumb">
  <li>门票</li>
  <li>列表</li>
</ol>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group form-inline">
            <div class="col-md-10">
                <label>景区</label>&nbsp;&nbsp;
                <select class="form-control" ng-model="searchform.view" 
                  ng-options="view.code as view.name for view in viewarr"
                >
                  <option value=""> --全部-- </option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>关键字</label>&nbsp;&nbsp;
                <input type="text" class="form-control" ng-model="searchform.keyword" >
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>状态</label>&nbsp;&nbsp;
                <select class="form-control" ng-model="searchform.state" >
                  <option value=""> --全部-- </option>
                  <option value="1"> 启用 </option>
                  <option value="0"> 停用 </option>
                </select>
                 &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default search" ng-click="load()">立即搜索</button>
            </div>
            <div class="col-md-2 text-right">
                <button type="button" class="btn btn-info new" ng-click="create()">发布新票种</button>
            </div>
        </div>
    </div>
</div><!-- searchArea -->



<div class="panel panel-default" ng-repeat="tkttype in objs track by $index" >
  <!-- Default panel contents -->
  <div class="panel-heading">{{tkttype.viewname}}</div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">票种名称</th>
        <th class="col-md-1 text-center">市场价格</th>
        <th class="col-md-1 text-center">居游价格</th>
        <th class="col-md-1 text-center">成本价(散)</th>
        <th class="col-md-1 text-center">成本价(团)</th>
        <th class="col-md-1 text-center">排序</th>
        <th class="col-md-1 text-center">app状态</th>
        <th class="col-md-1 text-center">旅行社状态</th>
        <th class="col-md-2 text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="obj in tkttype.ticketarr">
        <td>{{obj.name}} ({{obj.code}})</td>
        <td class="text-center">{{obj.market_price}}</td>
        <td class="text-center">{{obj.guide_price}}</td>
        <td class="text-center">{{obj.cost_price_visitor}}</td>
        <td class="text-center">{{obj.cost_price_group}}</td>
        <td class="text-center">{{obj.asort}}</td>
        <td class="text-center">{{obj._appstate}}</td>
        <td class="text-center">{{obj._state}}</td>
        <td class="text-center">
          <a ng-show="obj.appstate=='0'" ng-click="startapp(obj.code)" class="btn btn-primary btn-xs">app启用</a>
          <a ng-show="obj.appstate=='1'" ng-click="stopapp(obj.code)"  class="btn btn-success btn-xs">app停用</a>
          <a ng-show="obj.state=='0'" ng-click="start(obj.code)" class="btn btn-primary btn-xs">旅行社启用</a>
          <a ng-show="obj.state=='1'" ng-click="stop(obj.code)"  class="btn btn-success btn-xs">旅行社停用</a>
          <a ng-show="obj.state=='0'" ng-href="#ticket/edit/{{obj.id}}" class="btn btn-warning btn-xs">编辑</a>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>